.header {
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: red;
}

.gallery {
  width: 400px;
  margin: auto;
  margin-top: 30px;
}

.image {
  margin-left: 1px;
  float: left;
  width: 180px;
  border: 1px solid grey;
  border-radius: 10px;
}

.image:hover {
  border: 1px solid #777;
  border: 1px solid grey;
}

.image img {
  width: 100%;
  height: 110px;
  border-radius: 9px 9px 0px 0px;
}

.desc {
  padding: 15px;
  text-align: center;
}

.form-control {
  margin: auto;
  display: block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
